@import "../../assets/styles/variables";

ul.post-meta {
	padding-left: 0;
	li {
		border-right: 1px solid $black;
		display: inline-block;
		padding-left: 1rem;
		padding-right: 1rem;
		&:last-child {
			border-right: 0px solid $black;
			padding-right: 0;
		}
		&:first-child {
			padding-left: 0;
		}
		.badge {
			margin-right: 0.5rem;
		}
	}
}
