@import "variables";

@mixin button($background, $border: $background, $color: $white, $radius: $main-radius) {
	border-radius: $radius;
	color: $color;
	background-color: $background;
	border: 1px solid $border;
	outline: none;
	box-shadow: none;
	span:before {
		color: $color;
	}
	&:hover, &:focus {
		background-color: darken($background, 5%)!important;
		border: 1px solid darken($border, 5%);
		color: $white;
	}
}

@mixin badge($color, $lighten-percent: 20%, $radius: $main-radius) {
	border-radius: $radius;
	background-color: lighten($color, $lighten-percent);
	color: $color;
}
