$primary: #151618;
$secondary: #00A8CC;

$success: #11be11;
$info: #00A8CC;
$warning: #FDC435;
$danger: #FF6464;

$text-dark: #21243D;
$text-gray: #A0A0A0;
$text-light: #8695A4;
$text-danger: #FF6464;

$white: #ffffff;
