@import "../../assets/styles/variables";
header {
	margin-top: 3.75rem;
	ul {
		li {
			a.nav-link {
				font-weight: 500;
				font-size: 1.25rem;
				padding: 0.5rem 1rem;
				&.active {
					color: $text-danger!important;
				}
			}
		}
	}
}
@media(max-width: 767px) {
	header {
		margin-top: 0.5rem;
		text-align: center;
		ul {
			li {
				a.nav-link {
					font-weight: 500;
					font-size: 1rem;
					padding: 0.5rem 0.35rem;
				}
			}
		}
	}
}
