@import "../../assets/styles/variables";

.work-item {
	.image-wrapper {
		img {
			border-radius: $main-radius;
			max-width: 100%;
		}
	}
	ul.work-meta {
		padding-left: 0;
		li {
			display: inline-block;
			padding-left: 1rem;
			padding-right: 1rem;
			&:last-child {
				padding-right: 0;
			}
			&:first-child {
				padding-left: 0;
			}
			.badge {
				margin-right: 0.5rem;
			}
		}
		li.category {
			color: $text-light;
		}
	}
}
