@import "variables";
@import "mixins";

body {
	font-family: 'Heebo', sans-serif!important;
	font-size: 16px!important;
	font-weight: 400!important;
	color: $text-dark!important;
	background-color: $white!important;
}

p {
	line-height: 24px;
}

a {
	color: $text-dark!important;
	text-decoration: none!important;
	&:hover {
		color: $text-danger;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $text-dark!important;
	line-height: 42px;
}

@media(max-width: 767px) {
	h1, h2, h3, h4, h5, h6 {
		line-height: 32px;
	}
}

h1,.h1 {
	font-weight: 700;
	font-size: 2.25rem;
}

h2,.h2 {
	font-weight: 600;
	font-size: 2rem;
}

:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

.inline-middle {
	display: inline-block!important;
	vertical-align: -webkit-baseline-middle!important;
}

// Create bg-$color classes ------------------------------------------- //
@each $name, $hex in $bg-colors-list {
	.#{$name} {
		background-color: $hex!important;
	}
}

// Buttons ---------------------------------------- //
.btn {
	transition: background-color 360ms ease, transform 360ms ease, border-radius
	360ms ease, box-shadow 400ms ease, border-color 360ms ease;
	[class^="icon-"] {
		display: inline-block;
		vertical-align: middle;
	}
}
.btn-primary {
	@include button($primary);
}

.btn-secondary {
	@include button($secondary);
}

.btn-success {
	@include button($success);
}

.btn-info {
	@include button($info);
}

.btn-warning {
	@include button($warning);
}

.btn-danger {
	@include button($danger);
}

// Cards
.card {
	border: none;
	border-radius: $main-radius;
	transition: 250ms all ease-in;
	.card-body {
		box-shadow: 0px 2px 4px rgba(0,0,0,0.16);
		border-radius: $main-radius;
		.card-title {
			font-size: 1.625rem;
			font-weight: 700;
		}
	}
}

// Badges
.badge {
	height: 24px;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 9px;
}

.badge-primary {
	@include badge($primary, 66%);
}

.badge-gray {

	@include badge(#aaa, 20%);
}
.badge-dark {

	@include badge(#fff);
}
.badge-dark{
	background-color: #000 !important;
}
.badge-secondary {
	@include badge($secondary, 40%);
}

.badge-success {
	@include badge($success, 40%);
}

.badge-info {
	@include badge($info, 40%);
}

.badge-warning {
	@include badge($warning, 40%);
}

.badge-danger {
	@include badge($danger, 22%);
}
